<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <button wicket:id="login-btn">
        <wicket:message key="p.login.login"></wicket:message>
    </button>
    <span wicket:id="userName"></span>
    <button wicket:id="logout-btn">
        <wicket:message key="p.login.logout"></wicket:message>
    </button>
    <button wicket:id="create-user-btn">
        <wicket:message key="p.login.createUser"></wicket:message>
    </button>
    <button wicket:id="edit-user-btn">
        <wicket:message key="p.login.editUser"></wicket:message>
    </button>
</wicket:panel>