<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <button wicket:id="login-btn">
        <wicket:message key="p.login.login"/>
    </button>
    <span wicket:id="userName"></span>
    <button wicket:id="logout-btn">
        <wicket:message key="p.login.logout"/>
    </button>
    <button wicket:id="create-user-btn">
        <wicket:message key="p.login.createUser"/>
    </button>
    <button wicket:id="edit-user-btn">
        <wicket:message key="p.login.editUser"/>
    </button>
</wicket:panel>